.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  padding: 5%;
}

.btnSubmit {
  color: white;
  background: black;
  border: #61dafb;
  margin-top: 2.5%;
  transition: 0.75s;
  padding: 1%;
}

.btnSubmit:hover {
  color: black;
  background: white;
  border: white;
  margin-top: 2.5%;
  transition: 0.75s;
}

body {
  margin: 0;
}

.menu-item-top {
  display: block;
  color: white;
  text-decoration: none;
  background-color: #282c34;
  padding: 7.5%;
  
}

ul {
  list-style-type: none;
  background-color: black;
  position: fixed;
  height: 100%;
  width: 10%;
  margin: -1.5%;
  overflow:auto;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5%;
  margin-top: 5%;
}

li a.active {
  background-color: #04AA6D;
  color: white;
  transition: 0.5s;
}

li a:hover:not(.active) {
  transition: 0.5s;
  box-shadow: 5px 5px 7.5px white;  
  color: white;
}